<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sbrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sbrowser.Properties.Settings>
            <setting name="homepage" serializeAs="String">
                <value>https://google.com</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="ClearHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Best" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>google.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Pomodoro" serializeAs="String">
                <value>🍅</value>
            </setting>
            <setting name="Blacklist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Tiktok.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Focused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartScreenSize" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>500</string>
                        <string>700</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseStartScreenSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainColor" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondColor" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWhiteText" serializeAs="String">
                <value>False</value>
            </setting>
        </Sbrowser.Properties.Settings>
    </userSettings>
</configuration>